<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <h1><%= title %></h1>
        <form action="/join-club" method="POST">
            <label for="club_password"> Enter Secret Password: </label>
            <input type="text" id="club_password" name="club_password">
            <button type="submit"> Submit </button>
        </form>
    </body>
</html>